.font-buenos-light {
  font-family: "BuenosAiresTTF-Light";
}

.font-buenos-bold {
  font-family: "BuenosAiresTTF-Bold";
}

.font-buenos-re {
  font-family: "BuenosAiresTTF-Regular";
}

.primary-color {
  color: #06141f;
}

p {
  margin: 0;
  padding: 0;
}

.color-gray {
  color: #919191;
}

.container-remake {
  width: 90%;
  max-width: 1680px;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .container-remake {
    width: 75%;
  }
}
@media (max-width: 1024px) {
  .container-remake {
    width: 90%;
  }
}

.font20 {
  font-size: 20px;
}
@media (max-width: 1680px) {
  .font20 {
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  .font20 {
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  .font20 {
    font-size: 14px;
  }
}
@media (max-width: 450px) {
  .font20 {
    font-size: 13px;
  }
}

.font25 {
  font-size: 25px;
}
@media (max-width: 1680px) {
  .font25 {
    font-size: 20px;
  }
}

.font30 {
  font-size: 30px;
}
@media (max-width: 1680px) {
  .font30 {
    font-size: 25px;
  }
}
@media (max-width: 480px) {
  .font30 {
    font-size: 20px;
  }
}

.font40 {
  font-size: 40px;
}
@media (max-width: 1680px) {
  .font40 {
    font-size: 30px;
  }
}

.font60 {
  font-size: 60px;
}
@media (max-width: 1680px) {
  .font60 {
    font-size: 50px;
  }
}
@media (max-width: 1366px) {
  .font60 {
    font-size: 45px;
  }
}
@media (max-width: 995px) {
  .font60 {
    font-size: 35px;
  }
}
@media (max-width: 413px) {
  .font60 {
    font-size: 25px;
  }
}

.font80 {
  font-size: 80px;
}
@media (max-width: 1680px) {
  .font80 {
    font-size: 60px;
  }
}
@media (max-width: 1600px) {
  .font80 {
    font-size: 50px;
  }
}
@media (max-width: 1366px) {
  .font80 {
    font-size: 45px;
  }
}
@media (max-width: 995px) {
  .font80 {
    font-size: 35px;
  }
}
@media (max-width: 413px) {
  .font80 {
    font-size: 25px;
  }
}

@font-face {
  font-family: "BuenosAiresTTF-Light";
  src: url("../fonts/BuenosAiresTTF-Light.eot");
  src: url("../fonts/BuenosAiresTTF-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BuenosAiresTTF-Light.woff") format("woff"), url("../fonts/BuenosAiresTTF-Light.ttf") format("truetype"), url("../fonts/BuenosAiresTTF-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BuenosAiresTTF-Bold";
  src: url("../fonts/BuenosAiresTTF-Bold.eot");
  src: url("../fonts/BuenosAiresTTF-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BuenosAiresTTF-Bold.woff") format("woff"), url("../fonts/BuenosAiresTTF-Bold.ttf") format("truetype"), url("../fonts/BuenosAiresTTF-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BuenosAiresTTF-Regular";
  src: url("../fonts/BuenosAiresTTF-Regular.eot");
  src: url("../fonts/BuenosAiresTTF-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BuenosAiresTTF-Regular.woff") format("woff"), url("../fonts/BuenosAiresTTF-Regular.ttf") format("truetype"), url("../fonts/BuenosAiresTTF-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BuenosAiresTTF-Light";
  src: url("../fonts/BuenosAiresTTF-Light.eot");
  src: url("../fonts/BuenosAiresTTF-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BuenosAiresTTF-Light.woff") format("woff"), url("../fonts/BuenosAiresTTF-Light.ttf") format("truetype"), url("../fonts/BuenosAiresTTF-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BuenosAiresTTF-Bold";
  src: url("../fonts/BuenosAiresTTF-Bold.eot");
  src: url("../fonts/BuenosAiresTTF-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BuenosAiresTTF-Bold.woff") format("woff"), url("../fonts/BuenosAiresTTF-Bold.ttf") format("truetype"), url("../fonts/BuenosAiresTTF-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BuenosAiresTTF-Regular";
  src: url("../fonts/BuenosAiresTTF-Regular.eot");
  src: url("../fonts/BuenosAiresTTF-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BuenosAiresTTF-Regular.woff") format("woff"), url("../fonts/BuenosAiresTTF-Regular.ttf") format("truetype"), url("../fonts/BuenosAiresTTF-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header-pc {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 85px;
  z-index: 222;
}
.header-pc .header-pc-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header-pc .header-pc-wrap .list-menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-pc .header-pc-wrap .list-menu li {
  margin-left: 120px;
}
.header-pc .header-pc-wrap .list-menu li a {
  color: #08141e;
  text-decoration: none;
}
@media (max-width: 1500px) {
  .header-pc .header-pc-wrap .list-menu li {
    margin-left: 80px;
  }
}
@media (max-width: 1366px) {
  .header-pc .header-pc-wrap .list-menu li {
    margin-left: 40px;
  }
}
.header-pc .header-pc-wrap .list-menu li.chose-car a {
  font-size: 15px;
  background: #08141e;
  color: #fff;
  padding: 10px 40px;
}

.fixed-button {
  position: fixed;
  z-index: 333333;
  right: 70px;
  top: 50%;
}
.fixed-button .btn {
  text-decoration: none;
  outline: none;
  position: relative;
  padding: 5px 5px 5px 20px;
  transition: all 0.3s ease;
  color: transparent;
  display: block;
  margin-bottom: 10px;
}
.fixed-button .btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -3em;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #838a8f;
  width: 40px;
  height: 40px;
  border-radius: 5em;
  transition: all 0.3s cubic-bezier(0.615, 0, 0.07, 1);
}
.fixed-button .btn .wrap-button {
  display: flex;
  align-items: center;
  transition: all 0.6s ease;
}
.fixed-button .btn .wrap-button .img-bt {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #838a8f;
  transition: all 0.3s cubic-bezier(0.615, 0, 0.07, 1);
  position: absolute;
  z-index: -1;
  right: -3em;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fixed-button .btn .wrap-button .img-bt img {
  width: 40%;
}
.fixed-button .btn .wrap-button .img-bt i {
  color: #fff;
}
.fixed-button .btn:hover {
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  color: #fff;
}
.fixed-button .btn:hover:before {
  transition: all 0.3s cubic-bezier(0.615, 0, 0.07, 1);
  width: 140%;
}

.section1 {
  position: relative;
  background-size: cover;
}
.section1 .statistical {
  position: absolute;
  bottom: 220px;
  left: 230px;
  display: flex;
  align-items: baseline;
}
.section1 .statistical .access {
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 .statistical .client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section1 .statistical p {
  color: #fff;
}
.section1 .statistical p.number {
  font-size: 27px;
}
.section1 .statistical p.desc {
  font-size: 12.5px;
  text-align: center;
}
.section1 .section1-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}
.section1 .section1-footer .left {
  background: #06141f;
  width: 396px;
  height: 198px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.section1 .section1-footer .left ::before {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  background: #06141f;
  content: "";
  width: 200px;
}
.section1 .section1-footer .left img {
  width: 50%;
  margin: 0 auto;
}
.section1 .section1-footer .left h3 {
  color: #fff;
  margin-top: 20px;
  font-size: 20px;
}
@media (max-width: 1680px) {
  .section1 .section1-footer .left h3 {
    font-size: 16px;
  }
}
.section1 .section1-footer .right {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  width: 1284px;
  height: 198px;
  position: relative;
}
.section1 .section1-footer .right ::before {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.03);
  content: "";
  width: 200px;
}
.section1 .section1-footer .right .item {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section1 .section1-footer .right .item .img img {
  max-height: 100%;
}
.section1 .section1-footer .right .item p {
  color: #fff;
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
}

.section2 {
  background: #06141f;
}
@media (max-width: 1024px) {
  .section2 .container-remake {
    width: 100%;
  }
}
.section2 .section2-wrap {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .section2 .section2-wrap {
    height: auto;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.section2 .section2-wrap .left {
  width: 517px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 1919px) {
  .section2 .section2-wrap .left {
    width: 32%;
  }
}
@media (max-width: 1024px) {
  .section2 .section2-wrap .left {
    width: 100%;
    padding: 0 5%;
    margin-top: 30px;
    padding-bottom: 30px;
  }
}
.section2 .section2-wrap .right {
  width: 1078px;
}
@media (max-width: 1919px) {
  .section2 .section2-wrap .right {
    width: 64%;
  }
  .section2 .section2-wrap .right img {
    height: 100vh;
  }
}
@media (max-width: 1919px) and (max-width: 1024px) {
  .section2 .section2-wrap .right img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1024px) {
  .section2 .section2-wrap .right {
    width: 100%;
  }
}
.section2 .section2-wrap h2 {
  line-height: 90px;
  margin-bottom: 80px;
  text-align: start;
  width: 100%;
  color: #fff;
}
@media (max-width: 1024px) {
  .section2 .section2-wrap h2 br {
    display: none;
  }
}
@media (max-width: 1680px) {
  .section2 .section2-wrap h2 {
    margin-bottom: 60px;
    line-height: 75px;
  }
}
@media (max-width: 1366px) {
  .section2 .section2-wrap h2 {
    margin-bottom: 20px;
    line-height: 55px;
  }
}
.section2 .section2-wrap .desc p {
  line-height: 36px;
  color: #fff;
  text-align: justify;
  margin-bottom: 55px;
}
@media (max-width: 1680px) {
  .section2 .section2-wrap .desc p {
    margin-bottom: 40px;
  }
}
@media (max-width: 1440px) {
  .section2 .section2-wrap .desc p {
    line-height: 30px;
  }
}
@media (max-width: 1366px) {
  .section2 .section2-wrap .desc p {
    line-height: 25px;
  }
}
@media (max-width: 1024px) {
  .section2 .section2-wrap .desc p {
    margin-bottom: 20px;
  }
}
.section2 .section2-wrap .desc p:last-child {
  margin-bottom: 0px;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .icontab {
  display: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .icontab-active {
  display: block;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .icontab {
  display: block;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .icontab-active {
  display: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item:last-child {
  margin-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
  color: #838a8f;
  border: none;
}
.nav-tabs .nav-item.show .nav-link p.top, .nav-tabs .nav-link p.top {
  margin-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
  border-color: transparent;
  border: none;
}

.section3 {
  background: #06141f;
  color: #fff;
}
.section3 .section3-wrap {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap {
    flex-wrap: wrap;
  }
}
.section3 .section3-wrap .nav-tabs {
  border-bottom: none;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-link.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-link.active .icontab {
  display: none;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-link.active .icontab-active {
  display: block;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-link .icontab {
  display: block;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-link .icontab-active {
  display: none;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-item {
  margin-bottom: 100px;
  z-index: 2;
}
@media (max-width: 1680px) {
  .section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-item {
    margin-bottom: 60px;
  }
}
@media (max-width: 1366px) {
  .section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-item {
    margin-bottom: 40px;
  }
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-item {
    margin-bottom: 0px;
  }
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-item:last-child {
  margin-bottom: 0px;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-link {
  color: #838a8f;
  border: none;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link p.top, .section3 .section3-wrap .nav-tabs .nav-link p.top {
  margin-bottom: 0px;
}
.section3 .section3-wrap .nav-tabs .nav-item.show .nav-link, .section3 .section3-wrap .nav-tabs .nav-link:hover {
  border-color: transparent;
  border: none;
}
.section3 .section3-wrap .list-tab-section3 {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .list-tab-section3 {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .section3 .section3-wrap .list-tab-section3 li {
    width: 23%;
  }
  .section3 .section3-wrap .list-tab-section3 li a.nav-link {
    padding: 0;
  }
}
.section3 .section3-wrap .list-tab-section3 .border-dotter {
  width: 3px;
  bottom: -50px;
  position: absolute;
  left: 31px;
  top: -50px;
}
.section3 .section3-wrap .list-tab-section3 .item-tab-wrap {
  display: flex;
  align-items: center;
}
.section3 .section3-wrap .list-tab-section3 .item-tab-wrap .left {
  margin-right: 30px;
  background: #06141f;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .list-tab-section3 .item-tab-wrap .left {
    margin-right: 0;
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .list-tab-section3 .item-tab-wrap {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
}
.section3 .section3-wrap .content-tab-section3 {
  flex: 1;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .content-tab-section3 {
    width: 100%;
  }
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap {
    flex-wrap: wrap;
  }
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car {
    width: 100%;
  }
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .item-car-color {
  position: relative;
  width: 85%;
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .item-car-color img.img-car {
  width: 100%;
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .item-car-color .color-car-title {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1366px) {
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .item-car-color .color-car-title {
    top: 135%;
  }
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .ring360 {
  text-align: center;
  margin-top: 10px;
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .tab-color-car {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .tab-color-car {
    width: 100%;
    justify-content: space-between;
  }
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap .slider-car .tab-color-car li img {
    width: 30px;
    height: 30px;
  }
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .desc-car {
  width: 15%;
}
@media (max-width: 1024px) {
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap .desc-car {
    width: 100%;
  }
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .desc-car .desc-car-item {
  text-align: end;
  margin-bottom: 90px;
}
@media (max-width: 1680px) {
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap .desc-car .desc-car-item {
    margin-bottom: 60px;
  }
}
@media (max-width: 1366px) {
  .section3 .section3-wrap .content-tab-section3 .content-tab-wrap .desc-car .desc-car-item {
    margin-bottom: 40px;
  }
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .desc-car .desc-car-item p.bottom {
  color: #838a8f;
}
.section3 .section3-wrap .content-tab-section3 .content-tab-wrap .desc-car .desc-car-item:last-child {
  margin-bottom: 0;
}

.section4 {
  width: 100%;
}
.section4 .video {
  width: 100%;
}
.section4 .video img {
  width: 100%;
  height: 100vh;
}
@media (max-width: 1024px) {
  .section4 .video {
    display: none;
  }
}
.section4 .videomobie {
  display: none;
}
@media (max-width: 1024px) {
  .section4 .videomobie {
    display: block;
  }
  .section4 .videomobie img {
    width: 100%;
  }
}

.section5 {
  background: #06141f;
}
.section5 .container-remake {
  overflow: hidden;
}
.section5 .section5-wrap {
  padding-top: 80px;
}
.section5 .section5-top {
  padding-left: 120px;
  margin-bottom: 40px;
}
.section5 .section5-top p {
  color: #838a8f;
}
.section5 .section5-top h3 {
  color: #fff;
}
.section5 .section5-tab {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.section5 .section5-tab .tab-content-s6 {
  width: 100%;
}
.section5 .section5-tab .tab-content-s6 .tab-content-s6-item {
  width: 100%;
  position: relative;
}
.section5 .section5-tab .tab-content-s6 .tab-content-s6-item .content-ab {
  position: absolute;
  right: 0;
  width: 50%;
  top: -23%;
}
.section5 .section5-tab .tab-content-s6 .tab-content-s6-item .content-ab p {
  color: #fff;
  padding-right: 120px;
  text-align: justify;
  margin-bottom: 20px;
}
.section5 .section5-tab .tab-content-s6 .tab-content-s6-item .img-pri {
  width: 64%;
}
.section5 .section5-tab .tab-content-s6 .tab-content-s6-item .img-pri img {
  width: 100%;
}
.section5 .section5-tab .tab-menu-s6 {
  position: absolute;
  left: 65%;
  top: 47%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1680px) {
  .section5 .section5-tab .tab-menu-s6 {
    top: 52%;
  }
}
@media (max-width: 1440px) {
  .section5 .section5-tab .tab-menu-s6 {
    top: 61%;
  }
}
.section5 .section5-tab .tab-menu-s6 .border-dotter {
  width: 3px;
  bottom: -20px;
  position: absolute;
  left: 31px;
  top: -20px;
}
@media (max-width: 1440px) {
  .section5 .section5-tab .tab-menu-s6 .border-dotter {
    bottom: -10px;
    top: -10px;
  }
}
.section5 .section5-tab .tab-menu-s6 li {
  z-index: 2;
  margin: 10px 0;
}
@media (max-width: 1680px) {
  .section5 .section5-tab .tab-menu-s6 li {
    margin: 3px 0;
  }
}
@media (max-width: 1440px) {
  .section5 .section5-tab .tab-menu-s6 li {
    margin: 0px;
  }
}
.section5 .section5-tab .tab-menu-s6 .item-tab-wrap {
  display: flex;
  align-items: center;
}
.section5 .section5-tab .tab-menu-s6 .item-tab-wrap .left {
  margin-right: 40px;
  background: #06141f;
}

.section6 {
  background-size: cover;
}
.section6 .img-mobie {
  display: none;
}
@media (max-width: 1024px) {
  .section6 .img-mobie {
    display: block;
    width: 100%;
  }
}

.section7 {
  background: #06141f;
}
.section7 .section7-wrap {
  padding-top: 80px;
  overflow: hidden;
}
.section7 .section7-wrap .top {
  margin-left: 120px;
}
.section7 .section7-wrap .top p {
  color: #838a8f;
}
.section7 .section7-wrap .top h3 {
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 1366px) {
  .section7 .section7-wrap .top h3 {
    margin-bottom: 35px;
  }
}
.section7 .owl-carousel.owl-drag .owl-item {
  opacity: 0.4;
  transition: all 0.2s ease-in;
  transform: scale(0.8);
}
.section7 .owl-carousel.owl-drag .owl-item.center {
  opacity: 1;
  transform: scale(1);
}
.section7 .owl-carousel button.owl-dot {
  margin: 0 30px;
  outline: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #838a8f;
}
.section7 .owl-carousel .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 20px;
}
.section7 .owl-carousel .owl-dots button.owl-dot.active {
  background: #d25145;
  padding: 5px;
  border: 1px solid #d25145;
  border-radius: 50%;
  position: relative;
}
.section7 .owl-carousel .owl-dots button.owl-dot.active::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  background: transparent;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 8px;
  border: 1px solid #d25145;
}
.section7 .owl-carousel .owl-stage-outer {
  overflow: inherit;
}
.section7 .item-slider {
  position: relative;
}
.section7 .item-slider .content {
  position: absolute;
  bottom: 117%;
  left: 50%;
  color: #fff;
  width: 725px;
}
@media (max-width: 1440px) {
  .section7 .item-slider .content {
    width: 590px;
  }
}
.section7 .item-slider .content .desc {
  margin-top: 25px;
}
@media (max-width: 1440px) {
  .section7 .item-slider .content .desc {
    margin-top: 15px;
  }
}
.section7 .item-slider .content .desc p:first-child {
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .section7 .item-slider .content .desc p:first-child {
    margin-bottom: 10px;
  }
}
@media (max-width: 1440px) {
  .section7 .item-slider .content .desc p {
    font-size: 13px;
  }
}
.section7 .item-slider .border {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 1px;
  height: 70px;
  background: #838a8f;
}
@media (max-width: 1680px) {
  .section7 .item-slider .border {
    height: 50px;
  }
}
@media (max-width: 1366px) {
  .section7 .item-slider .border {
    height: 35px;
  }
}
.section7 .owl-carousel.owl-drag .owl-item.center .content {
  opacity: 1;
}
.section7 .owl-carousel.owl-drag .owl-item .content {
  opacity: 0;
}
.section7 .owl-carousel.owl-drag .owl-item.center .border {
  opacity: 1;
}
.section7 .owl-carousel.owl-drag .owl-item .border {
  opacity: 0;
}

.section8-wrap {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.section8-wrap .left-s8 {
  width: 33%;
}
@media (max-width: 1366px) {
  .section8-wrap .left-s8 {
    width: 40%;
  }
}
.section8-wrap .left-s8 .top {
  margin-bottom: 60px;
}
@media (max-width: 1366px) {
  .section8-wrap .left-s8 .top {
    margin-bottom: 40px;
  }
}
.section8-wrap .left-s8 .top h3 {
  color: #06141f;
}
.section8-wrap .left-s8 .top p {
  color: #838a8f;
  margin-bottom: 15px;
}
.section8-wrap .left-s8 .bottom .tab-menu-s8 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.section8-wrap .left-s8 .bottom .tab-menu-s8 .border-dotter {
  width: 3px;
  bottom: -20px;
  position: absolute;
  left: 31px;
  top: -20px;
}
.section8-wrap .left-s8 .bottom .tab-menu-s8 li {
  z-index: 2;
  margin: 20px 0;
}
@media (max-width: 1600px) {
  .section8-wrap .left-s8 .bottom .tab-menu-s8 li {
    margin: 10px 0;
  }
}
@media (max-width: 1366px) {
  .section8-wrap .left-s8 .bottom .tab-menu-s8 li {
    margin: 5px 0;
  }
}
.section8-wrap .left-s8 .bottom .tab-menu-s8 li a.active {
  color: black;
}
.section8-wrap .left-s8 .bottom .tab-menu-s8 .item-tab-wrap {
  display: flex;
  align-items: center;
}
.section8-wrap .left-s8 .bottom .tab-menu-s8 .item-tab-wrap .left {
  margin-right: 30px;
  background: #fff;
}
.section8-wrap .right {
  width: 63%;
}
@media (max-width: 1366px) {
  .section8-wrap .right {
    width: 58%;
  }
}
.section8-wrap .right .item-right {
  width: 100%;
}
.section8-wrap .right .item-right img {
  width: 100%;
}
.section8-wrap .right .item-right p {
  margin-top: 20px;
  color: #06141f;
}

.section9 {
  background: #06141f;
}
.section9 .section9-wrap {
  padding-top: 80px;
}
@media (max-width: 1024px) {
  .section9 .section9-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.section9 p.font30 {
  color: #838a8f;
}
.section9 h3 {
  color: #fff;
  margin-bottom: 25px;
}
.section9 .list-image {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .section9 .list-image {
    flex-wrap: wrap;
  }
}
.section9 .list-image .left {
  width: 45.6%;
}
@media (max-width: 1024px) {
  .section9 .list-image .left {
    width: 100%;
    margin-bottom: 1%;
  }
}
.section9 .list-image .left .item-top {
  margin-bottom: 1%;
  width: 100%;
}
.section9 .list-image .left .item-top img {
  width: 100%;
}
.section9 .list-image .left .list-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section9 .list-image .left .list-bottom .list-bottom-item {
  width: 32.5%;
}
.section9 .list-image .left .list-bottom .list-bottom-item img {
  width: 100%;
}
.section9 .list-image .right {
  width: 53.7%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .section9 .list-image .right {
    width: 100%;
  }
}
.section9 .list-image .right .item-right {
  width: 49.3%;
}
.section9 .list-image .right .item-right img {
  width: 100%;
}
.section9 .list-image .right .item-right:nth-child(1) {
  margin-bottom: 1%;
}
.section9 .list-image .right .item-right:nth-child(2) {
  margin-bottom: 1%;
}

.section10-wrap {
  padding-top: 80px;
}
@media (max-width: 1024px) {
  .section10-wrap {
    padding-top: 30px;
  }
}
.section10-wrap h3 {
  margin-bottom: 50px;
  text-align: center;
}
@media (max-width: 1440px) {
  .section10-wrap h3 {
    margin-bottom: 30px;
  }
}
@media (max-width: 1366px) {
  .section10-wrap h3 {
    margin-bottom: 20px;
  }
}

.list-section10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .list-section10 {
    flex-wrap: wrap;
  }
}
.list-section10 .item {
  width: 23%;
}
@media (max-width: 1024px) {
  .list-section10 .item {
    width: 48%;
    margin-bottom: 4%;
  }
}
@media (max-width: 413px) {
  .list-section10 .item {
    width: 100%;
  }
}
.list-section10 .item .top {
  background: #06141f;
  padding: 45px 0;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1440px) {
  .list-section10 .item .top {
    padding: 25px 0;
  }
}
@media (max-width: 1366px) {
  .list-section10 .item .top {
    padding: 15px 0;
  }
}
@media (max-width: 1024px) {
  .list-section10 .item .top {
    padding: 25px 0;
  }
}
.list-section10 .item .bottom {
  background: #f7f7f7;
  padding: 35px 30px;
}
@media (max-width: 1366px) {
  .list-section10 .item .bottom {
    padding: 20px 15px;
  }
}
.list-section10 .item .bottom img {
  display: flex;
  margin: 0 auto;
}
@media (max-width: 1366px) {
  .list-section10 .item .bottom img {
    width: 60%;
  }
}
.list-section10 .item .bottom .content-item {
  margin-top: 35px;
}
@media (max-width: 1366px) {
  .list-section10 .item .bottom .content-item {
    margin-top: 20px;
  }
}
.list-section10 .item .bottom .content-item p.title {
  margin-bottom: 20px;
  color: #06141f;
}
.list-section10 .item .bottom .content-item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-section10 .item .bottom .content-item ul li {
  color: #06141f;
}
@media (max-width: 413px) {
  .list-section10 .item .bottom .content-item ul li {
    margin: 5px 0;
  }
}
.list-section10 .item .bottom .content-item .content-bottom {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #06141f;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1366px) {
  .list-section10 .item .bottom .content-item .content-bottom {
    margin-top: 20px;
    padding-top: 20px;
  }
}
.list-section10 .item .bottom .content-item .content-bottom .bt-left a {
  color: #06141f;
  text-decoration: none;
}
.list-section10 .item .bottom .content-item .content-bottom .bt-left a span {
  margin-left: 5px;
}
.list-section10 .item .bottom .content-item .content-bottom .bt-right a {
  color: #06141f;
  text-decoration: none;
}
.list-section10 .item .bottom .content-item .content-bottom .bt-right a span {
  margin-left: 5px;
}

.section11 {
  position: relative;
}
@media (max-width: 1024px) {
  .section11 {
    margin-top: 30px;
    padding-bottom: 30px;
  }
}
.section11 .section11-bg {
  background: #06141f;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
}
.section11 .section11-wrap {
  z-index: 2;
  position: relative;
}
.section11 .section11-wrap h3 {
  text-align: center;
}
.section11 .section11-wrap .start {
  margin: 20px 0;
  display: flex;
}
.section11 .section11-wrap .start a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background: #06141f;
  padding: 10px 40px;
  border-radius: 30px;
  justify-content: center;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .section11 .section11-wrap .start a {
    padding: 5px 20px;
  }
}
.section11 .section11-wrap .start a img {
  margin-right: 10px;
}
.section11 .section11-wrap .car-s11 {
  display: flex;
  margin: 0 auto 40px;
  justify-content: center;
}
@media (max-width: 1440px) {
  .section11 .section11-wrap .car-s11 img {
    width: 55%;
  }
}
@media (max-width: 1366px) {
  .section11 .section11-wrap .car-s11 img {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .section11 .section11-wrap .car-s11 img {
    width: 85%;
  }
}
.section11 .section11-wrap .action-s11 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
}
@media (max-width: 1024px) {
  .section11 .section11-wrap .action-s11 {
    align-items: baseline;
  }
}
.section11 .section11-wrap .action-s11 .action-item {
  width: 300px;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1440px) {
  .section11 .section11-wrap .action-s11 .action-item {
    width: 250px;
  }
  .section11 .section11-wrap .action-s11 .action-item img {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 1024px) {
  .section11 .section11-wrap .action-s11 .action-item {
    width: 20%;
  }
}
@media (max-width: 1366px) {
  .section11 .section11-wrap .action-s11 .action-item {
    width: 200px;
  }
  .section11 .section11-wrap .action-s11 .action-item img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 1366px) and (max-width: 480px) {
  .section11 .section11-wrap .action-s11 .action-item img {
    height: 40px;
    width: 40px;
  }
}
.section11 .section11-wrap .action-s11 a {
  color: #fff;
  text-decoration: none;
}
.section11 .section11-wrap .action-s11 a p {
  margin-top: 15px;
}
@media (max-width: 480px) {
  .section11 .section11-wrap .action-s11 a p {
    font-size: 12px;
  }
}

.section12 {
  background: #222222;
  padding-top: 70px;
}
@media (max-width: 1366px) {
  .section12 .container-remake {
    width: 85%;
  }
}
.section12 .section12-wrap {
  display: flex;
  justify-content: space-between;
}
.section12 .section12-wrap h3 {
  font-size: 17px;
  color: #fff;
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .section12 .section12-wrap h3 {
    font-size: 15px;
  }
}
@media (max-width: 1366px) {
  .section12 .section12-wrap h3 {
    font-size: 12px;
  }
}
.section12 .section12-wrap p {
  color: #919191;
  font-size: 15px;
}
@media (max-width: 1440px) {
  .section12 .section12-wrap p {
    font-size: 13px;
  }
}
@media (max-width: 1366px) {
  .section12 .section12-wrap p {
    font-size: 11px;
  }
}
.section12 .section12-wrap .item-left {
  margin-bottom: 10px;
}
.section12 .section12-wrap .allright {
  margin-top: 10px;
}
.section12 .section12-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section12 .section12-wrap ul li {
  font-size: 15px;
  margin-bottom: 10px;
}
@media (max-width: 1440px) {
  .section12 .section12-wrap ul li {
    font-size: 13px;
  }
}
@media (max-width: 1366px) {
  .section12 .section12-wrap ul li {
    font-size: 11px;
  }
}
.section12 .section12-wrap ul li a {
  color: #919191;
  text-decoration: none;
}
.section12 .section12-wrap .right .right-item {
  margin-bottom: 10px;
}
.section12 .section12-wrap .right a {
  font-size: 15px;
  text-decoration: none;
}
@media (max-width: 1440px) {
  .section12 .section12-wrap .right a {
    font-size: 13px;
  }
}
@media (max-width: 1366px) {
  .section12 .section12-wrap .right a {
    font-size: 11px;
  }
}
.section12 .section12-wrap .right .social {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
}
.section12 .section12-wrap .right .social .item-social {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section12 .section12-wrap .right .social .item-social a {
  color: #fff;
}
.section12 .section12-wrap .right .social .item-social a i {
  font-size: 21px;
}
.section12 .section12-wrap .right .app-kia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.section12 .section12-wrap .right .app-kia .qr-code {
  margin-right: 20px;
}
.section12 .section12-wrap .right .app-kia .qr-code img {
  width: 95px;
  height: 95px;
}
.section12 .section12-wrap .right .app-kia .app-store .item-app-t {
  margin-bottom: 15px;
}

/*# sourceMappingURL=common.css.map */
