.section7{
    background: $primary-color;
    @media(max-width :1024px){
        .container-remake{
            width: 100%;
        }
    }
    .fp-tableCell {
        vertical-align: bottom;
    }
    .section7-wrap{
        height: calc(100% - 85px - 10vh);

        @include maxWidth(1440) {
            height: calc(100% - 85px - 8vh);
        }

        @include maxWidth(1200) {
            height: calc(100% - 85px - 5vh);
        }
        // padding-top: 130px;
        // @media(max-width : 1679px){
        //     padding-top: 110px;
        // }
        // @media(max-width : 1400px){
        //     padding-top: 100px;
        // }
        // overflow: hidden;
        // @media(max-width :1024px){
        //     padding-top: 30px;
        //     padding-bottom: 30px;
        // }
        .top{
            // margin-left: 120px;
            // margin-bottom: 50px;
            h3{
                font-size: 50px;
                margin-top: 5px;
                @media(max-width : 1680px){
                    font-size: 45px;
                    margin-top: 5px;
                }
                @media only screen and (min-width: 1599px) and (max-width: 1601px) {
                    font-size: 40px;
                }
                @media(max-width : 1440px){
                    font-size: 40px;
                }
                @media(max-width : 1366px){
                    font-size: 35px;
                    line-height: 40px;
                    margin-top: 0;

                }
                @media(max-width : 480px){
                    font-size: 35px;
                }
                @media(max-width : 380px){
                    font-size: 30px;
                }
            }
            width: 50%;
            @media(max-width : 1366px){
                width: 45%;
                margin-top: 10px;
            }
            @media(max-width :1024px){
                margin-left: 0;
                padding: 0 5%;
                width: 100%;
            }
            p{
                color: #838a8f;
            }
            h3{
                color: #fff;
                margin-bottom: 50px;
                @media(max-width: 1680px){
                    margin-bottom: 59px;
                 }
                 @media only screen and (min-width: 1599px) and (max-width: 1601px) {
                    margin-bottom: 70px;
                }
                @media(max-width: 1366px){
                   margin-bottom: 40px;
                   font-size: 33px;
                }
                @media(max-width: 1280px){
                    font-size: 28px;
                    margin-bottom: 40px;
                 }
                @media(max-width :1024px){
                   br{
                       display: none;
                   }
                }
            }
        }
    }
    .owl-carousel.owl-drag .owl-item{
        opacity: 0.4;
        transition: all .2s ease-in;
        transform: scale(0.8);
        height: 100%;
    }
    .owl-carousel.owl-drag .owl-item.center{
        opacity: 1;
        transform: scale(1);
    }
    // .owl-carousel.owl-drag .owl-item.active img{
    //     height: 300px;
    //     margin-top: 65px;
    // }
    // .owl-carousel.owl-drag .owl-item.cloned{
    //     opacity: 0.4;
    // }
    // .owl-carousel.owl-drag .owl-item.cloned img{
    //     height: 300px;
    //     margin-top: 65px;
    // }
    .owl-carousel button.owl-dot{

        margin: 0 30px;
        @media(max-width : 1440px){
            margin: 0 20px;
        }
        @media(max-width: 767px){
            margin: 0 7px;
        }
        outline: none;
        border-radius: 50%;
            width: 10px;
            height: 10px;
            background: #838a8f;
    }
    .owl-carousel .owl-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        @include maxWidth(991) {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }
        // padding-bottom: 20px;
        @media(max-width : 1366px){
            // margin-top: 10px;
        }
        @media(max-width : 1280px){
            // margin-top: 15px;
        }
    }
    .owl-carousel .owl-dots button.owl-dot.active{
        background: #d25145;
        padding: 5px;
        border: 1px solid #d25145;
        border-radius: 50%;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: -5px;
            left: -5px;
            background: transparent;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            padding: 8px;
            border: 1px solid #d25145;
        }
    }
    .owl-carousel .owl-stage-outer{
        overflow: inherit;
        margin-bottom:15px;
        height:100%;
    }
    .owl-carousel .owl-stage{
        height: 100%;
    }

    .owl-carousel .owl-nav{
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 100%;
        @media(max-width : 1024px){
           display: none;
        }
        .owl-prev{
            position: absolute;
            left: 10%;
            outline: none;
            .prev-slide{
                color: #fff;
                font-size: 22px;
                background: #828a90;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .owl-next{
            position: absolute;
            right : 10%;
            outline: none;
            .next-slide{
                color: #fff;
                font-size: 22px;
                background: #828a90;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .section7-carousel{
        height: 45vh;
        @media(max-width : 1279px){
            height: 45vh;

        }
        @media(max-width : 1024px){
            height: auto;
        }
    }
    .item-slider{
        position: relative;
        height: 100%;
        img{
            height:100%;
            object-fit: cover;
        }
        .content{
            position: absolute;
            top: unset!important;
            bottom: 112%;
            left: 50%;
            color: #fff;
            width: calc(88vw / 2);
            @media(min-width : 1921px){
                width: calc(80vw / 2);
            }
            @media only screen and (min-width: 1599px) and (max-width: 1601px) {
                width: calc(80vw / 2);
            }
            @media(max-width : 1366px){
                width: calc(80vw / 2);
            }
            @media(max-width : 1280px){
                width: calc(85vw / 2);
            }
            h5{
                br{
                    display: none;
                }
                @media(max-width : 1024px){
                    br{
                        display: block;
                    }
                }
            }
            // @media(max-width: 1919px){
            //     width: 757px;
            //  }


            //  @media(max-width: 1679px){
            //     width: 650px;
            //  }
            //  @media only screen and (min-width: 1599px) and (max-width: 1601px) {
            //     width: 600px;
            // }

            //  @media(max-width: 1366px){
            //     width: 477px;
            //  }
             @media(max-width: 1024px){
                position: relative;
                left: unset;
                bottom: unset;
                width: 100%;
                margin-top: 60px;
                top: unset!important;
             }
             @media(max-width : 767px){
                 padding: 0 5%;
             }
            .desc{
                margin-top: 25px;
                @media(max-width: 1440px){
                   margin-top: 15px;
                }
                p:first-child{
                    margin-bottom: 20px;
                    @media(max-width: 1440px){
                        margin-bottom: 10px;
                     }
                }
                p{
                    @media(max-width: 1440px){
                        font-size: 13px;
                     }
                }
            }
        }
        .border{
            position: absolute;
            // content: '';
            bottom: 100%;
            left: 50%;
            width: 1px;
            height: 70px;
            background: #838a8f;
            @media(max-width: 1680px){
                height: 50px;
            }
            @media(max-width: 1366px){
                height: 35px;
            }
            @media(max-width: 1024px){
                bottom: unset;
            }
        }
    }
    .owl-carousel.owl-drag .owl-item.center .content{
        opacity: 1;
    }
    .owl-carousel.owl-drag .owl-item .content{
        opacity: 0;
    }
    .owl-carousel.owl-drag .owl-item.center .border{
        opacity: 1;
    }
    .owl-carousel.owl-drag .owl-item .border{
        opacity: 0;
    }

}