.none-mobiee{
    @media(max-width : 1024px){
     display: none!important;
     }
}
// .none-pcc{
//     display: none!important;
//     @media(max-width : 1024px){
//     display: block!important;
//     a{
//         display: block;
//     }
//     }
// }

.section11{
    background: $primary-color;
    color: #FFF;
    h3{
        text-align: center;
        margin-bottom: 30px;
    }
    .section11-wrap{
        padding-top: 80px;
        @media(max-width : 1024px){
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .owl-carousel .owl-stage-outer{
        overflow: inherit;
        // margin-bottom:15px;
        height:100%;
    }
    .owl-carousel .owl-stage{
        height: 100%;
    }
    .owl-carousel.owl-drag .owl-item{
        height: 100%;
    }
    .section11-carou{
        height: 60vh;
        @media(max-width : 1366px){
            height: 50vh;
        }
        @media(max-width : 1024px){
            height: auto;
        }
        .item-slider{
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .owl-carousel .owl-nav{
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        width: 100%;
        @media(max-width : 1024px){
           display: none;
        }
        .owl-prev{
            position: absolute;
            left: 10%;
            outline: none;
            .prev-slide{
                color: #fff;
                font-size: 22px;
                background: #828a90;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .owl-next{
            position: absolute;
            right : 10%;
            outline: none;
            .next-slide{
                color: #fff;
                font-size: 22px;
                background: #828a90;
                height: 50px;
                width: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .owl-carousel.owl-drag .owl-item{
        opacity: 0.4;
        transition: all .2s ease-in;
        transform: scale(0.8);
        height: 100%;
    }
    .owl-carousel.owl-drag .owl-item.center{
        opacity: 1;
        transform: scale(1);
    }
}