.animated-modal2 {
  display: inline-block;
  width: 100%;
  height: 100%;
  // max-height: 100vh;
  // max-width: 100vw;
  border: none;
  margin: 0;
  padding: 0;
  @media (max-width: 480px) {
    padding: 0;
    max-height: 100%;
  }
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(50vw - 4.6px);
    height: 100%;
    background-color: #000912;
    z-index: 0;
  }
  img {
    // width: 100%;
    // height: 100%;
    // object-fit: contain;
    z-index: 2;
    position: relative;
    @media (max-width: 480px) {
      object-fit: inherit;
      width: 100%;
      height: auto;
    }
  }
  @media screen and (min-width: 1024px) {
    .fancybox-close-small {
      svg,
      i {
        color: #fff;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    &:after {
      display: none;
    }
    img {
      height: auto;
    }
  }
}

.section10-wrap {
  padding-top: 80px;

  @media (max-width: 1024px) {
    padding-top: 30px;
  }
  h3 {
    margin: 5px 0 25px 0;
    text-align: center;
    @media only screen and (min-width: 1599px) and (max-width: 1601px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1440px) {
      margin-bottom: 20px;
    }
    @media (max-width: 1366px) {
      margin-bottom: 15px;
    }
  }
}
.list-section10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  @media (max-width: 1024px) {
    flex-wrap: wrap;
  }
  .item {
    width: 25%;
    margin: 0 50px;
    @media (max-width: 1270px) {
      width: 30%;
      margin: 0 30px;
    }
    h5 {
      margin-top: 5px;
      @media only screen and (min-width: 1599px) and (max-width: 1601px) {
        margin-top: 0px;
      }
      @media (max-width: 1366px) {
        margin-top: 0px;
      }
    }
    @media (max-width: 1024px) {
      width: 48%;
      margin-bottom: 4%;
    }
    @media (max-width: 480px) {
      width: 100%;
      margin: 0 0 20px 0;
    }
    .top {
      background: #06141f;
      padding: 20px 0;
      @media only screen and (min-width: 1599px) and (max-width: 1601px) {
        padding: 20px 0;
      }
      @media (max-width: 1440px) {
        padding: 20px 0;
      }
      @media (max-width: 1366px) {
        padding: 15px 0;
      }
      @media (max-width: 1024px) {
        padding: 25px 0;
      }
      width: 100%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .bottom {
      background: #f7f7f7;
      padding: 25px;
      @media only screen and (min-width: 1599px) and (max-width: 1601px) {
        padding: 20px 15px;
      }
      @media (max-width: 1440px) {
        padding: 20px;
      }
      @media (max-width: 1366px) {
        padding: 15px;
      }
      img {
        width: 60%;
        display: flex;
        margin: 0 auto;
        @media (max-width: 1366px) {
          width: 55%;
        }
      }
      .content-item {
        margin-top: 10px;
        @media only screen and (min-width: 1599px) and (max-width: 1601px) {
          margin-top: 10px;
        }
        @media (max-width: 1440px) {
          margin-top: 10px;
        }
        p.title {
          margin-bottom: 20px;
          color: #06141f;
          text-align: center;
          @media (max-width: 1366px) {
            margin-bottom: 10px;
          }
        }
        .register {
          width: 100%;
          text-align: center;
          cursor: pointer;
          border: 1px solid #06141f;
          padding: 15px 0 10px;

          background: $primary-color;
          color: #fff;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          height: 160px;
          line-height: 23px;
          // overflow-y: auto;

          @media (max-width: 1680px) {
            height: 150px;
            line-height: 20px;
          }

          @media (max-width: 1440px) {
            height: 130px;
            line-height: 20px;
          }
          @media (max-width: 1366px) {
            height: 127px;
          }

          @media (max-width: 1280px) {
            height: 120px;
          }

          @media (max-width: 1024px) {
            height: auto !important;
          }

          li {
            color: #06141f;
            @media (max-width: 1366px) {
              font-size: 12px;
            }
            @media (max-width: 413px) {
              margin: 5px 0;
              font-size: 13px;
            }
          }
        }

        .row-price {
          margin-top: 20px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 480px) {
            font-size: 16px;
          }
          .price {
            margin-left: 5px;
          }
        }

        .content-bottom {
          display: flex;
          justify-content: space-between;
          .bt-left {
            a {
              color: #06141f;
              text-decoration: none;
              span {
                margin-left: 5px;
              }
            }
          }
          .bt-right {
            a {
              color: #06141f;
              text-decoration: none;
              span {
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}
// @media only screen and (max-height: 700px) {

//     .list-section10 .item .bottom .content-item ul{
//         height: 140px;
//     }
// }

@media only screen and (max-height: 650px) {
  .list-section10 .item .bottom .content-item ul {
    height: 80px;
    overflow-y: scroll;
  }
}
.scrollable-content {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }
}

#animatedModal101 {
  overflow: hidden;

  @media (max-width: 1024px) {
    overflow: inherit;
  }
}

.form-buy-car {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  .font-mobie-small {
    font-size: 11px;
    @media (max-width: 480px) {
      font-size: 10px;
    }
  }
  .left {
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding: 100px 70px 40px 70px;
    background: #fff;

    @media (max-width: 1680px) {
      padding: 80px 50px 30px 50px;
    }

    @media (max-width: 1368px) {
      padding: 60px 30px 20px 30px;
    }
    .text-mobie {
      display: none;
      @media (max-width: 1024px) {
        display: block;
        font-size: 10px;
        text-align: center;
      }
    }
    .box-des {
      align-self: flex-start;
      // overflow: hidden;
    }
    .tt-test {
      color: unset;
    }
    .box-main {
      height: 90%;
      overflow: hidden;
      .logo-pc {
        height: 20%;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media (max-width: 1024px) {
          height: auto;
        }
        img {
          // filter: invert(1);
          // max-width: 90%;
          width: 35%;
          @media (max-width: 1024px) {
            width: 100%;
          }
          // height: 100%;
          // object-fit: contain;
        }
      }

      .chose-car-color {
        height: 80%;

        .tab-content {
          height: 50%;
          .tab-pane {
            height: 100%;
            text-align: center;

            img {
              max-height: 100%;
              max-width: 100%;
            }
          }
        }

        .left-bottom {
          padding-top: 50px;
          @media (max-width: 1368px) {
            padding-top: 20px;
          }
          .nav-tabs {
            justify-content: center;
            li {
              a {
                @media (max-width: 1368px) {
                  padding: 0.25rem 0.5rem;
                }
                &:focus {
                  border: none;
                  outline: none;
                }
                img {
                  border: 1px solid #727272;
                }
              }
            }
          }
        }

        ul {
          li {
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;

              @media (max-width: 1680px) {
                width: 40px;
                height: 40px;
              }
              @media (max-width: 1368px) {
                width: 30px;
                height: 30px;
              }
            }
          }
        }
      }
    }
  }
  .right {
    width: 50%;
    z-index: 2;
    height: 100vh;
    overflow-y: auto;
    background: $primary-color;
    position: relative;
    padding: 70px 100px;
    @media (max-width: 1680px) {
      padding: 50px 60px;
    }

    @media (max-width: 1368px) {
      padding: 40px 50px;
    }
    @media (max-width: 480px) {
      padding: 20px;
    }

    .form {
      .customner__city {
        label.error {
          display: none !important;
        }
      }
      .customer__district {
        label.error {
          display: none !important;
        }
      }
      .customer__ward {
        label.error {
          display: none !important;
        }
      }
      .city {
        label.error {
          left: -43%;
          top: 72%;
          @media (max-width: 995px) {
            left: 0;
            top: -101%;
          }
        }
      }
      .showroom {
        label.error {
          left: -43%;
          top: 72%;
          @media (max-width: 995px) {
            left: 0;
            top: -102%;
          }
        }
      }
      &__title {
      }

      &__body {
      }

      &__input {
        display: grid;
        align-items: center;
        grid-template-columns: 30% 70%;
        margin-bottom: 15px;
        position: relative;
        label.error {
          position: absolute;
          color: #ac2b31;
          top: 66%;
          @media (max-width: 1440px) {
            font-size: 11px;
          }
          @media (max-width: 995px) {
            top: -26%;
            font-size: 11px;
          }
        }
        input,
        select {
          border: 1px solid #fff;
          background-color: transparent;
          color: white;
          padding: 5px;
          border-radius: unset;
          &:focus {
            border-color: white;
            outline: none;
          }
          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #fff;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #fff;
          }
        }
        [type='date'] {
          color: #fff;
          &::-webkit-calendar-picker-indicator {
            filter: invert(1);
          }
        }
      }

      .dropdown {
        background-color: transparent;
        border-radius: unset;
        // color: #808388;
        border-color: #ffffff;
        min-width: unset;
        &:hover {
          border-color: #ffffff;
        }
        .icon {
          color: #ffffff;
        }
        .text {
          color: #ffffff;
          left: -8px;
        }
        .default {
          color: #ffff;
        }
      }

      &__position {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
        width: 100%;
        @media (max-width: 995px) {
          width: 100%;
        }
        .item-right {
          flex: 0 0 70%;
          max-width: 70%;
          display: grid;
          justify-content: space-between;
          grid-template-columns: 32% 32% 32%;

          select {
            border: 1px solid #fff;
            background-color: transparent;
            color: white;
            padding: 5px;
            &:focus {
              border-color: white;
              outline: none;
            }
          }
        }
      }

      &__infoMore {
        // padding-left: 50px;
        // padding-right: 40px;

        margin-bottom: 15px;
        &--wrap {
          padding-bottom: 15px;
          border-bottom: 1px solid #666b71;
          width: 90%;
          @media (max-width: 995px) {
            width: 100%;
          }
          margin: 0 auto 15px;
        }
        p.mt-3 {
          font-size: 11px;
        }
        ul {
          padding-left: 15px;
          // padding-bottom: 15px;
          // border-bottom: 1px solid #fff;

          li {
            display: flex;
            grid-template-columns: 70% 30%;
            @media (max-width: 1199px) {
              grid-template-columns: 60% 40%;
            }
            @media (max-width: 768px) {
              display: flex;
            }
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            position: relative;
            &::before {
              content: '•';
              color: #ffffff;
              display: inline-block;
              position: absolute;
              left: -1rem;
            }
          }
        }
      }

      &__total-cost {
        margin-bottom: 30px;
        .item {
          margin-bottom: 15px;
        }
        p {
          font-style: italic;
          // font-size: 11px;
        }
      }

      &__checkbox {
        display: flex;
        align-items: center;
        input {
          background: transparent;
          width: 23px;
          height: 23px;
          border: 1px solid #fff;
        }
      }

      &__btnSubmit {
        text-align: center;
        margin-top: 30px;
        button {
          padding: 20px 30px;
          border: none;
          background-color: white;
          color: black;
        }
      }
    }

    // .bg {
    //   &-left, &-right {
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     width: 50%;
    //     height: 100%;
    //   }

    //   &-left {
    //     left: 0;
    //   }

    //   &-right {
    //     right: 0;
    //   }
    // }
  }

  @media (max-width: 1024px) {
    height: auto;
    display: block;
    overflow: inherit;
    .left,
    .right {
      height: auto;
      width: 100%;
    }

    .left {
      padding: 30px 40px;
      p.text-center {
        margin-bottom: 12px;
      }
      .box-main {
        .logo-pc {
          width: 50%;
          height: 16vw;
          margin: 0 auto;
        }
      }

      .box-des {
        display: none;
      }
    }

    .right {
      // padding: 60px 50px;

      .form {
        .form__infoMore {
          @media (max-width: 480px) {
            padding: 0;
          }
          .form__infoMore--wrap {
            @media (max-width: 995px) {
              padding: 0px 0px 15px 0px;
              p.mt-3 {
                font-size: 10px;
                text-align: center;
              }
            }
          }
        }
        &__input {
          flex-wrap: wrap;
          display: flex;
          input,
          select {
            width: 100%;
            padding: 10px 15px;
            border-radius: unset;
          }
          option {
            color: #666b71;
          }
        }

        &__position {
          .item-right {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      .form__position .item-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .customner__city {
          width: 100%;
          margin-bottom: 15px;
        }
        .customer__district,
        .customer__ward {
          width: 49%;
        }
      }
    }
  }
}
.ui.search.dropdown.active > input.search,
.ui.search.dropdown.visible > input.search {
  color: #fff;
}
.error-js{
  width:100%;
}
.error-active {
  position: relative;
  input,
  .selection {
    border-color: red !important;
  }
  .error-msg {
    opacity: 1;
    visibility: unset;
  }
}
.error-msg {
  position: absolute;
  top: calc(100% - 5px);
  left: 0;
  width: 100%;
  background: red;
  z-index: 1;
  border-radius: 0 0 3px 3px;
  color: #fff;
  padding: 5px;
  visibility: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: all linear 0.3s;
  opacity: 0;
}