.section1{
    position: relative;
    background-size: cover;
    background-position: bottom;
    text-transform: uppercase;
    .s1-pc{
        @media(max-width :1024px){
            display: none;
        }
    }
    .s1-mobie{
        display: none;
        @media(max-width: 1024px){
            display: block;
            .img-pri-s1{
                width: 100%;
                position: relative;
                img.bg{
                    width: 100%;
                    height: 100vh;
                    // @media(max-width : 480px){
                    //     height: 100vh;
                    // }
                }
                .s1-icon-mobie{
                    position: absolute;
                    top: 75vh;
                    left: 0;
                    right: 0;
                    .top{
                        display: flex;
                        justify-content: center;
                        margin-bottom: 15px;
                        color: #fff;
                        text-align: center;
                        margin-left: -10%;
                        margin-right: -10%;
                        
                        >div {
                            padding-left: 10%;
                            padding-right: 10%;
                        }
                        // .access{
                        //     margin-right: 25px;
                        // }
                        p.desc{
                            font-size: 15px;
                            line-height: 20px;
                            @media(max-width :480px){
                                font-size: 13px;
                                line-height: 17px;
                            }
                        }
                    }
                   
                   
                }
                .center{
                    background: $primary-color;
                    height: 15vh;
                    color: #fff;
                    // display: none;
                    text-align: center;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 0;
                    img{
                        width: 15%;
                        height: 50%;
                        object-fit: contain;
                        @media(max-width: 480px){
                            width: 20%;
                        }
                    }
                    h3{
                        width: 100%;
                        font-size: 15px;
                        margin-top: 15px;
                    }
                }
                .bottom{
                    background-size: cover;
                    display: flex;
                    justify-content: space-between;
                    color: #a3a5a9;
                    height: 15vh;
                    // background: rgba(0 ,0, 0, 0.4);
                    align-items: baseline;
                    // padding: 15px 0;
                    .item{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 33.33336%;
                        height: 100%;
                        padding: 5px;
                        
                        .img{
                            width: 100%;
                            height: 45%;
                            text-align: center;

                            img {
                                max-height: 100%;
                            }
                        }
                        p {
                            margin-top: 0;
                        }
                        // @media(max-width :480px){
                        //     p.first{
                        //         margin-top: 25px;
                        //     }
                        //     p.second{
                        //         margin-top: 16px;
                        //     }
                        // }
                    }
                    p{
                        font-size: 15px;
                        text-align: center;
                        line-height: 20px;
                        margin-top: 10px;

                        @media(max-width : 480px){
                            font-size: 13px;
                            line-height: 17px;
                        }
                        @media(max-width: 400px){
                            font-size: 12px;
                        }

                    }
                }
            }
        }
    }


    .statistical{
        position: absolute;
        bottom: 220px;
        left: 5%;
        display: flex;
        align-items: baseline;
        @media(max-width : 1366px){
            bottom: 155px;
        }
        @media(max-width : 1280px){
            bottom: 155px;
        }
        .access{
            margin-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media(max-width : 1366px){
                margin-right: 50px;
                img{
                    width: 70px;
                }
            }
            @media(max-width : 1280px){
                margin-right: 50px;
                img{
                    width: 70px;
                }
            }
        }
        .client{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media(max-width : 1366px){
                img{
                    width: 35px;
                }
            }
            @media(max-width : 1280px){
                img{
                    width: 35px;
                }
            }
        }
        p{
            color: #fff;
        }
        p.number{
            font-size: 27px;
            @media(max-width : 1366px){
                font-size: 20px;
            }
        }
        p.desc{
            font-size: 12.5px;
            text-align: center;
        }
    }
    .section1-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        .left{
            background: $primary-color;
            width: 396px;
            height: 198px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            @media(max-width: 1366px){
                height: 130px;
                width: 30%;

            }
            @media(max-width: 1280px){
                width: 30%;
                height: 130px;
            }
            ::before{
                position: absolute;
                right: 100%;
                top: 0;
                bottom: 0;
                background: $primary-color;
                content: '';
                width: 200px;
            }
            img{
                width: 50%;
                margin: 0 auto;
                @media(max-width: 1366px){
                    width: 30%;
                }
            }
            h3{
                color: #fff;
                margin-top: 20px;
                font-size: 20px;
                @media(max-width: 1680px){
                    font-size: 16px;
                }
                @media(max-width: 1366px){
                    // font-size: 15px;
                    text-align: center;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            background: rgba(0 ,0, 0, 0.2);
            width: 1284px;
            
            height: 198px;
            @media(max-width: 1366px){
                height: 130px;
                width: 70%;

            }
            @media(max-width: 1280px){
                width: 70%;
                height: 130px;
            }
            position: relative;
            // ::before{
            //     position: absolute;
            //     left: 100%;
            //     top: 0;
            //     bottom: 0;
            //     background: rgba(0 ,0, 0, 0.03);
            //     content: '';
            //     width: 200px;
            // }
            .item{
                width: 270px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .img{
                    // height: 60px;
                    img{
                        max-height: 100%;
                    }
                }
                p{
                    color: #fff;
                    font-size: 15px;
                    margin-top: 15px;
                    text-align: center;
                    @media(max-width :1280px){
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
.count-down{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9999999999999;
    .content-count-down{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;
        h3{
            font-size: 70px;
            @media(max-width : 1680px){
                font-size: 60px;
            }
            @media(max-width : 1600px){
                font-size: 45px;
            }
            @media(max-width : 1366px){
                font-size: 40px;
            }
            @media(max-width : 1024px){
                font-size: 40px;
             }
            @media(max-width : 723px){
               font-size: 27px;
            }
        }
        ul{
            display: flex;
            align-items: center;
            list-style: none;
            li{
                margin: 0 70px;
                display: flex;
                flex-direction: column;
                align-items: center;

                p:first-child{
                    font-size: 150px;
                    @media(max-width : 1680px){
                        font-size: 120px;
                    }
                    @media(max-width : 1600px){
                        font-size: 90px;
                    }
                    @media(max-width : 1366px){
                        font-size: 80px;
                    }
                    @media(max-width : 1024px){
                        font-size: 80px;
                    }
                    @media(max-width : 640px){
                        font-size: 60px;
                    }
                    @media(max-width : 480px){
                        font-size: 50px;
                    }
                    
                }
                p:last-child{
                    font-size: 40px;
                    @media(max-width : 1600px){
                        font-size: 30px;
                    }
                    @media(max-width : 1024px){
                        font-size: 25px;
                        margin-top: -20px;
                    }
                    @media(max-width : 480px){
                        font-size: 20px;
                        margin-top: -15px;
                    }
                }
            }
            @media(max-width : 1024px){
                width: 90%;
                margin: 0;
                padding: 0;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    width: 31.5%;
                    margin: 0px;
                }
                li.li-dau{
                    width: 100%;
                }
            }
            
        }
    }
    h5{
           margin-top: 80px; 
        font-size: 35px;
        margin-bottom: 40px;
        @media(max-width : 1680px){
            font-size: 30px;
        }
        @media(max-width : 1600px){
            margin-top: 60px;
            font-size: 25px;

        }
        @media(max-width : 1366px){
            font-size: 25px;
            margin-top: 40px;
        }
        @media(max-width : 1024px){
            font-size: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        @media(max-width : 480px){
            font-size: 13px;
        }
    }
    form{
        width: 40%;
        @media(max-width : 1600px){
            width: 50%;
        }
        @media(max-width : 1024px){
            width: 70%;
        }
        @media(max-width : 723px){
            width: 80%;
        }
        
    }
    .contact-form-row{
        width: 100%;
        height: 60px;
        @media(max-width : 1440px){
            height: 50px;
        }
        
        margin-bottom: 25px;
        @media(max-width : 480px){
            height: 40px;
            margin-bottom: 20px;
        }
        .contact-column-6{
            width: 48%;
            height: 100%;
        }
        .contact-column-12{
            width: 100%;
            height: 100%;
        }
        .contact-form-group{
            width: 100%;
            height: 100%;
            input{
                width: 100%;
                height: 100%;
                padding: 0 20px;
                outline: none;
            }
            p{
                font-size: 13px;
                color: red;
            }
        }
    }
    .contact-form-row-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }
    .contact-form-group-bt{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            width: 40%;
            color: #fff;
            background: #3371b0;
            border: none;
            outline: none;
            height: 60px;
            @media(max-width : 1440px){
                height: 50px;
                width: 35%;
            }
            @media(max-width : 480px){
                height: 40px;
                width: 35%;
            }
        }
    }
}

#myVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .fixed-bg{
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0 ,0, 0, 0.5);
      display: none;
  }

  .animated-modal-tk{
    z-index: 100000000000000010000000000000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $primary-color;
    color: #fff;
    width: 900px;
    padding: 30px;
    height: 500px;
    @media(max-width : 1024px){
        width: 70%;
        height: 400px;
    }
    @media(max-width : 480px){
        width: 90%;
        font-size: 15px;
        height: 300px;
    }
    animation: slide-upp 0.9s ease-out;
    .popup-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media(max-width : 480px){
            font-size: 15px;
        }
        .close-popup{
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 30px;
        }
    }
    display: none;
  }
  @keyframes slide-upp {
    0% { top : 0%; }
    100% { top: 50%;}
}