.none-mobiee{
    @media(max-width : 1024px){
     display: none!important;
     }
}
.none-pcc{
    display: none!important;
    @media(max-width : 1024px){
    display: block!important;
    a{
        display: block;
    }
    }
}

