.section9{
    background: $primary-color;
    .section9-wrap{
        padding-top: 80px;
        @media(max-width : 1024px){
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    p.font30{
        color: #838a8f;
    }
    h3{
        color: #fff;
        margin-bottom: 25px;
    }
    .list-image{
        display: flex;
        justify-content: space-between;
        @media(max-width : 1024px){
            flex-wrap: wrap;
        }
        .left{
            width: 45.6%;
            @media(max-width : 1024px){
                width: 100%;
                margin-bottom: 1%;
            }
            .item-top{
                margin-bottom: 1%;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            .list-bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .list-bottom-item{
                    width: 32.5%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .right{
            width: 53.7%;
            @media(max-width : 1024px){
                width: 100%;
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .item-right{
                width: 49.3%;
                img{
                    width: 100%;
                }
            }
            .item-right:nth-child(1){
                margin-bottom: 1%;
            }
            .item-right:nth-child(2){
                margin-bottom: 1%;
            }
        }
    }
}