
.nav-tabs{
    border-bottom: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .icontab{
    display: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .icontab-active{
    display: block;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .icontab{
    display: block;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .icontab-active{
    display: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item:last-child{
    margin-bottom: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    color: #838a8f;
    border: none;
    p.top{
        margin-bottom: 0px;
    }
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    border-color: transparent;
    border: none;
}
.section3{
   
    background: $primary-color;
    color: #fff;
    .section3-wrap{
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media(max-width :1024px){
            flex-wrap: wrap;
            padding-top: 30px;
        }
        .nav-tabs{
            border-bottom: none;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
            color: #fff;
            background-color: transparent;
            border-color: transparent;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .icontab{
            display: none;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active .icontab-active{
            display: block;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .icontab{
            display: block;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link .icontab-active{
            display: none;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item{
            margin-bottom: 100px;
            z-index: 2;
           
            @media(max-width: 1680px){
                margin-bottom: 60px;
            }
            @media(max-width: 1366px){
                margin-bottom: 40px;
            }
            @media(max-width: 1024px){
                margin-bottom: 0px;
            }
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-item:last-child{
            margin-bottom: 0px;
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
            color: #838a8f;
            border: none;
            p.top{
                margin-bottom: 0px;
            }
        }
        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
            border-color: transparent;
            border: none;
        }
        .list-tab-section3{
            display: flex;
            flex-direction: column;
            position: relative;
            @media(max-width :1024px){
               width: 100%;
               flex-direction: row;
               justify-content: space-between;
               li{
                   width: 23%;
                   a.nav-link{
                       padding: 0;
                   }
               }
            }
            @media(max-width : 480px){
                margin-bottom: 20px;
            }
            .border-dotter{
                width: 3px;
                bottom: -50px;
                position: absolute;
                left: 31px;
                top: -50px;
                @media(max-width :1024px){
                    display: none;
                }
                
            }
            .border-dotter-mb{
                display: none;
                @media(max-width :1024px){
                    display: block;
                    position: absolute;
                    top: 87%;
                    left: 0;
                    width: 100%;
                    height: 1px;
                }
            }
            .item-tab-wrap{
                display: flex;
                align-items: center;
                
                .left{
                    margin-right: 30px;
                    background: $primary-color;
                    @media(max-width :1024px){
                        margin-right: 0;
                        margin-top: 20px;
                    }
                }
                @media(max-width :1024px){
                    flex-direction: column-reverse;
                    justify-content: center;
                    text-align: center;
                }
                @media(max-width: 1024px){
                    .right{
                        height: 60px;
                    }
                }
            }
        }
        .content-tab-section3{
            flex: 1;
            @media(max-width :1024px){
                width: 100%;
             }
            .content-tab-wrap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                @media(max-width :1024px){
                    flex-wrap: wrap;
                 }
                .slider-car{
                    width: 80%;
                    @media(max-width :1024px){
                        width: 100%;
                     }
                    margin: 0 auto;
                    .item-car-color{
                        position: relative;
                        width: 85%;
                        .cloudimage-360{
                            width: 100%;
                            @media(max-width:1366px){
                                canvas{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }
                        img.img-car{
                            width: 100%;
                        }
                        @media(max-width : 480px){
                            .ring360{
                                img{
                                    width: 60px;
                                }
                            }
                        }
                        .color-car-title{
                            position: absolute;
                            top: 125%;
                            left: 50%;
                            transform: translateX(-50%);
                            @media(max-width: 1366px){
                                top: 130%;
                            }
                            
                            @media(max-width: 400px){
                                top: 140%;
                            }
                        }
                    }
                    .ring360{
                        text-align: center;
                        margin-top: 10px;
                    }
                    .tab-color-car{
                        display: flex;
                        justify-content: center;
                        width: 100%;
                        margin-top: 40px;
                        @media(max-width :1024px){
                            width: 100%;
                            margin-top: 30px;
                            // justify-content: space-between;
                            li{
                                @media(max-width : 480px){
                                    a.nav-link{
                                        padding: 0 10px;
                                    }
                                }
                                img{
                                    width: 50px;
                                    height: 50px;
                                    @media(max-width :1366px){
                                        width: 40px;
                                        height: 40px;
                                    }
                                    @media(max-width :1024px){
                                        width: 30px;
                                        height: 30px;
                                    }
                                    @media(max-width :350px){
                                        width: 25px;
                                        height: 25px;
                                    }
                                }
                            }
                         }
                    }
                }
                .desc-car{
                    width: 15%;
                    @media(max-width :1024px){
                        width: 100%;
                        display: flex;
                        align-items: center;
                        margin: 100px 0 30px 0;
                        justify-content: space-between;
                        @media(max-width: 480px){
                            margin-top: 60px;
                        }
                     }
                    .desc-car-item{
                        text-align: end;
                        margin-bottom: 90px;
                        @media(max-width: 1680px){
                            margin-bottom: 60px;
                        }
                        @media(max-width: 1366px){
                            margin-bottom: 40px;
                        }
                        @media(max-width : 1024px){
                            width: 23%;
                            text-align: center;
                            margin-bottom: 0;
                        }
                        @media(max-width : 400px){
                            p.top{
                                font-size: 17px;
                            }
                        }
                        @media(max-width : 350px){
                            p.top{
                                font-size: 15px;
                            }
                        }
                        p.bottom{
                            color: #838a8f;
                        }
                    }
                    .desc-car-item:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.section4{
    width: 100%;
    .video{
        width: 100%;
        img{
            width: 100%;
            height: 100vh;
        }
        @media(max-width : 1024px){
            display: none;
        }
    }
    .videomobie{
        display: none;
        @media(max-width: 1024px){
            display: block;
            img{
                width: 100%;
            }
        }
    }
   
}