.section5{
    background: $primary-color;
    .container-remake{
        overflow: hidden;
        @media(max-width: 1024px){
            width: 100%;
        }
    }
    .section5-wrap{
        padding-top: 80px;
        @media(max-width :1024px){
            padding-top: 30px;
            padding-bottom: 30px;
        }

    }
    .section5-top{
        padding-left: 120px;
        margin-bottom: 40px;
        @media(max-width : 1366px){
            padding-left: 0;
            margin-bottom: 25px;
        }
        @media(max-width :1024px){
            padding-left: 0px;
            margin-bottom: 30px;
            padding: 0 5%;
        }
        p{
            color: #838a8f;
        }
        h3{
            color: #fff;
        }
    }
    .section5-tab{
        display: flex;
        justify-content: space-between;
        position: relative;
        @media(max-width :1024px){
            flex-wrap: wrap;
        }
        .tab-pane.active {
            animation: slide-up 0.9s ease-out;
        }
        
        @keyframes slide-up {
            0% { opacity: 0; transform: translateY(-100%); }
            100% { opacity: 1; transform: translateY(0); }
        }
        .tab-content-s6{
            width: 100%;
            .tab-content-s6-item{
                width: 100%;
                position: relative;
                // display: flex;
                @media(max-width :1024px){
                    
                }
                .content-ab{
                    position: absolute;
                    right: 0;
                    width: 50%;
                    bottom: 67%;
                    img{
                        width: 100%;
                    }
                    @media(max-width : 1680px){
                        bottom: 67%;
                    }
                    // @media(max-width : 1366px){
                    //     bottom: 57%;
                    // }
                    @media(max-width :1024px){
                        position: relative;
                        right: unset;
                        top: unset;
                        width: 100%;
                        img{
                            width: 100%;
                        }
                    }
                    p{
                        color: #fff;
                        padding-right: 120px;
                        text-align: justify;
                        margin-bottom: 20px;
                        @media(max-width :1366px){
                            padding-right: 0;
                        }
                        @media(max-width: 1024px){
                            padding: 0 5%;
                            margin: 30px 0;
                        }
                    }
                }
                .img-pri{
                    width: 64%;
                    @media(max-width :1024px){
                        width: 100%;
                    }
                    img{
                        width: 100%;
                        // height: 450px;
                    }
                }
            }
        }
        .tab-menu-s6{
            // width: 32%;
            position: absolute;
            @media(max-width :1024px){
                position: relative;
                width: 100%;
                top: unset;
                left: unset;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 30px;
                padding: 0 5%;
                li{
                    width: 23%;
                    a.nav-link{
                        padding: 0;
                    }
                }
            }
            left: 65%;
            top: 37%;
            @media(max-width : 1680px){
                top: 37%;
            }
            // @media(max-width : 1440px){
            //     top: 46%;
            // }
            display: flex;
            flex-direction: column;
            .border-dotter{
                width: 3px;
                bottom: -20px;
                position: absolute;
                left: 31px;
                top: -20px;
                @media(max-width : 1440px){
                    bottom: -10px;
                    top: -10px;
                }
                @media(max-width :1024px){
                    display: none;
                }
                
                
            }
            .border-dotter-mb{
                display: none;
                @media(max-width :1024px){
                    display: block;
                    position: absolute;
                    top: 82%;
                    left: 5%;
                    right: 5%;
                    height: 1px;
                }
                @media(max-width :480px){

                }
            }
            li{
                z-index: 2;
                margin: 10px 0;
                @media(max-width : 1680px){
                    margin: 3px 0;
                }
                @media(max-width : 1440px){
                    margin: 0px;
                }
            }
            .item-tab-wrap{
                display: flex;
                align-items: center;
                @media(max-width :1024px){
                    flex-direction: column-reverse;
                    justify-content: center;
                    text-align: center;
                }
                @media(max-width: 1024px){
                    .right{
                        height: 40px;
                    }
                }
                .left{
                    margin-right: 40px;
                    background: $primary-color;
                    @media(max-width :1024px){
                        margin-right: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}