.header-pc{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 85px;
    z-index: 222;
    .header-pc-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .list-menu{
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    color: #08141e;
                    text-decoration: none;
                }
                margin-left: 120px;
                @media(max-width : 1500px){
                    margin-left: 80px;
                }
                @media(max-width : 1366px){
                    margin-left: 40px;
                }
            }
            li.chose-car{
                a{
                    font-size: 15px;
                    background: #08141e;
                    color: #fff;
                    padding: 10px 40px;
                }
            }
        }
    }
    @media(max-width : 1024px){
        display: none;
    }
}
.header-mobie{
    display: none;
    @media(max-width :1024px){
        display: block;
    }
}
@mixin magnetic($timeing) {
  transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}
.fixed-button{
    position: fixed;
    z-index: 333333;
    right: 70px;
    top: 50%;
    .btn{
        text-decoration: none;
        outline: none;
        position: relative;
        padding: 5px 5px 5px 20px;
        transition: all 0.3s ease;
        color: transparent;
        display: block;
        margin-bottom: 10px;
        &:before{
            content: '';
            position: absolute;
            z-index: -1;
            right: -3em;
            top: 0;
            bottom: 0;
            margin: auto;
            background:#838a8f;
            width: 40px;
            height: 40px;
            border-radius: 5em;
            @include magnetic(0.3s);
          }
        .wrap-button{
            display: flex;
            align-items: center;
            transition: all 0.6s ease;
            outline: none;
            p{
                outline: none;
            }
            .img-bt{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: #838a8f;
                @include magnetic(0.3s);
                position: absolute;
                z-index: -1;
                right: -3em;
                top: 0;
                bottom: 0;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 40%;
                }
                i{
                    color: #fff;

                }
            }
        }
        &:hover{
            transition: all 0.3s ease;
            transition-delay: 0.1s;
            color: #fff;
            &:before{
              @include magnetic(0.3s);
              width: 140%;
            }
          }
       
      }
}

html {
    overflow: hidden;
}

<<<<<<< HEAD
.overflow-x-hidden {
    overflow-x: hidden;
=======
@media(max-width: 1024px){
    #page-wrap{
        overflow: hidden;
    }
>>>>>>> d1a9ccacb2043ac2f664f41ec6c0747bb73cd69b
}