.header-pc{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 85px;
    z-index: 222;
    .header-pc-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .list-menu{
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                a{
                    color: #08141e;
                    text-decoration: none;
                }
                margin-left: 120px;
            }
            li.chose-car{
                a{
                    font-size: 15px;
                    background: #08141e;
                    color: #fff;
                    padding: 10px 40px;
                }
            }
        }
    }
}


