.font-buenos-light {
    font-family: "BuenosAiresTTF-Light";
}
.font-buenos-bold {
    font-family: "BuenosAiresTTF-Bold";
}
.font-buenos-re {
    font-family: "BuenosAiresTTF-Regular";
}
.font-sfu-bold{
    font-family: "SFUHelveticaBold";
}
.font-sfu-black{
    font-family: "SFUHelveticaBlack";
}
.font-kia-bold{
    font-family: "VN-KiaSignature-Bold";
}
.font-kia-light{
    font-family: "VN-KiaSignature-Light";
}
.font-kia-re{
    font-family: "VN-KiaSignature-Regular";
}
.primary-color {
    color: #06141f;
}
p{
    margin: 0;
    padding: 0;
}
.color-gray{
    color: #919191;
}
.container-remake{
    width: 90%;
    max-width: 1680px;
    margin: 0 auto;
    @media only screen and (min-width: 1599px) and (max-width: 1601px) {
        width: 80%;
    }
    @media(max-width : 1366px){
        width: 90%;
    }
    @media(max-width : 1280px){
        width: 90%;
    }
    @media(max-width : 1024px){
        width: 90%;
    }
}
.font18{
    font-size: 15px;
    @media(max-width: 1440px){
        font-size: 13px;
    }
}
.font20{
    font-size: 20px;
    @media(max-width: 1919px){
        font-size: 16px;       
    }
    @media(max-width : 1601px){
        font-size: 15px;
    }
    @media(max-width : 1599px){
        font-size: 14px;
    }
    @media(max-width : 1439px){
        font-size: 13px;
    }
    @media(max-width : 450px){
        font-size: 13px;
    }
}
.font25{
    font-size: 25px;
    @media(max-width: 1919px){
        font-size: 20px;       
    }
    @media(max-width : 1601px){
        font-size: 18px;
    }
    @media(max-width : 480px){
        font-size: 18px;
    }
    @media(max-width : 480px){
        font-size: 18px;
        line-height: 20px;
    }
    @media(max-width : 400px){
        font-size: 16px;
        line-height: 17px;
    }
}
.font30{
    font-size: 30px;
    @media(max-width: 1919px){
        font-size: 25px;       
    }
    @media(max-width: 1601px){
        font-size: 20px;       
    }
    @media(max-width: 480px){
        font-size: 18px;       
    }
    @media(max-width: 360px){
        font-size: 15px;       
    }
    
}
.font40{
    font-size: 40px;
    @media(max-width: 1919px){
        font-size: 30px;       
    }
    @media(max-width: 1601px){
        font-size: 25px;       
    }
    @media(max-width: 1024px){
        font-size: 25px       
    }
    @media(max-width: 480px){
        font-size: 20px       
    }
   
}
.font60{
    font-size: 55px;
    @media(max-width: 1919px){
        font-size: 50px;       
    }
    @media(max-width: 1679px){
        font-size: 45px;       
    }
    @media(max-width : 1599px){
        font-size: 40px;
    }
    @media(max-width : 1366px){
        font-size: 35px;
    }
    @media(max-width : 1279px){
        font-size: 33px;
    }
    @media(max-width : 995px){
        font-size: 33px;
    }
    @media(max-width : 480px){
        font-size: 27px;
    }
}
.font80{
    font-size: 55px;
    @media(max-width: 1919px){
        font-size: 50px;       
    }
    @media(max-width: 1679px){
        font-size: 45px;       
    }
    @media(max-width : 1599px){
        font-size: 40px;
    }
    @media(max-width : 1366px){
        font-size: 35px;
    }
    @media(max-width : 1279px){
        font-size: 33px;
    }
    @media(max-width : 995px){
        font-size: 33px;
    }
    @media(max-width : 995px){
        font-size: 35px;
    }
    @media(max-width : 480px){
        font-size: 27px;
    }
}

.fit-cover {
    object-fit: cover;
}

$primary-color : #06141f;
.font15{
    font-size: 15px;
    @media(max-width : 1366px){
        font-size: 13px;
    }
}
.font16{
    font-size: 16px;
    @media(max-width: 1366px){
        font-size: 13px;
    }
}